@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    opacity: .9;
}

.navbar li:nth-child(5) {
    font-weight: bold;
    font-size: large;
}

.navbar li:hover {
    background-color: rgb(8, 121, 152);
}

.navbar li:nth-child(4) {
    border-bottom: 3px solid rgb(8, 121, 152);
}

.navbar .container {
    border-bottom: 3px solid white;
}

.navbar .navbar-brand {
    font-family: 'Mali', cursive;
    font-size: 25px;
}

.navbar li a {
    font-family: 'Mali', cursive;
}

.navbar li {
    margin: 0 20px;
    border-radius: 30px 30px 0 0 ;
    padding: 5px;
}

/* Contact */
.top {
    margin-top: 150px;
    margin-bottom: 100px;
}

.top form {
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
}

.contact h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

/* Deskripsi Contact */
.deskripsi-contacts {
    border-radius: 30px 30px 0 0;
}

.deskripsi-contact p {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.deskripsi-contact h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

/* Social Media */
.social-media img {
    transition: .5s;
}

.social-media img:hover {
    transform: scale(.8);
}

/* Footer */
footer {
    background-color: white;
    padding-top: 17px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-weight: 500;
}

/* responsive */
@media screen and (max-width: 800px) {
    .navbar .navbar-nav li {
        margin-bottom: 10px;
    }

    .navbar li {
        border-radius: 0;
        padding: 5px;
    }
}